################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/v8.sln
/v8.VC.db
/v8.VC.VC.opendb
/.vs/v8/v14/.suo
/ipch/V8-8152c8f0/V8-a78810da.ipch
