/Debug
/Release
*.ipch
*.opendb
*.db
*.json
*.sqlite
*.suo
*.user
*.db-shm
*.db-wal
*.aps
/.vs/Labos08/v17
/.vs/v8/FileContentIndex/5a6cec85-e487-489e-be8f-9a029dfc99db.vsidx
/.vs/v8/FileContentIndex
/.gitignore
